body {
	font-size: 16px;
	font-family: 'Comic Neue', cursive;
	color: black;
}

/* HEADER */
#header-nav {
	background-color: #C0C0C0;
	border-radius: 0;
	border: 0;
	border-bottom: solid 3px black;
}

.navbar-brand h1 {
	font-size: 1.6em;
	color: black;
	font-weight: bold;
	line-height: .75;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid black;
}

/* END HEADER */

/* MAIN CONTENT */
#menu-title {
	font-weight: bold;
	margin: 30px;
	text-align: center;
}

.main-text {
	background-color: #C0C0C0;
	height: 1500px;
}

.main-text h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}
/* END MAIN CONTENT */


/********** Extra small devices only **********/
@media (max-width: 767px) {
	#collapsable-nav {
		background-color: #E0E0E0;
	}

	#collapsable-nav a {
      font-size: 1.2em;
      text-align: center;
      color: black;
      line-height: 10px;
    }

    #collapsable-nav a:hover {
    	background-color: #D3D3D3;
    }

    #nav-list hr {
    	border-color: black;
    	margin: 0;
    }

    #menu-title {
		margin: 25px;
	}

	#main-content {
		width: 90%;
	}
}